# Production: https://generate-secret.vercel.app/32
NUXT_SESSION_PASSWORD=

# Google OAuth
NUXT_OAUTH_GOOGLE_CLIENT_ID=1053543666489-q7trktcvs5214j1huiqjnc5ek6um6vlq.apps.googleusercontent.com
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=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
